#app {
  max-width: 1280px;
  margin: 0;
  padding: 32px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div, p, body {
  margin: 0;
  padding: 0;
}

h5 {
  text-align: center;
  color: #9993b2;
  font-weight: normal;
  font-size: 20px;
  margin: 10px 0;
}