#app {
  margin: 0;
  padding: 32px;
  width: 100%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div, p, body {
  margin: 0;
  padding: 0;
}

h5 {
  text-align: center;
  color: #9993b2;
  font-weight: normal;
  font-size: 20px;
  margin: 10px 0;
}

.textinput {
  border-radius: 5px;
  border: 1px solid rgba(152,147,178, 0.3);
  line-height: 20px;
  font-size: 14px;
  padding: 5px;
  margin: 5px 0;
  box-shadow: 0 2px 5px rgba(152,147,178, 0.3);

  &:focus {
    border: 1px solid rgba(152,147,178, 0.3);
    box-shadow: 0 2px 5px rgba(181,183,214, 0.8);
  }
}

.clickable-icon {
  cursor: pointer;
}